{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo - 404 Page not found
{% endblock %}

{% block content%}
    <h2>404 Error!</h2>
    <p>We can't find the page you are looking for, this may be because the page does not exist.</p>
    <a href="/" role="button">Return to Home</a>
{% endblock %}