{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo - Hello!
{% endblock %}

{% block content%}
    <h1>Foobar</h1>
    <p>the end is never the end is never the end is never the end is never the end is never the end</p>

    <form>
        <fieldset role="group">
            <input type="name" name="name" placeholder="Enter your name" autocomplete="name"/>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
{% endblock %}