{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo - Hello!
{% endblock %}

{% block content%}
    <h1>Foobar</h1>
    <p>the end is never the end is never the end is never the end is never the end is never the end</p>
{% endblock %}