{% extends "pages/base.jinja" %}


{% block title %}
    Flask Demo - Form Data
{% endblock %}

{% block content%}
    <h2>You entered the data:</h2>

    <article>
        <h3>Name:</h3>
        <p><b>{{ name }}</b></p>
        <h3>Age:</h3>
        <p><b>{{ age }}</b></p>
    </article>
    
{% endblock %}