{% extends "pages/base.jinja" %}


{% block title %}
    Flask Demo - Given Number
{% endblock %}

{% block content%}
    <h2>Your Given Number:</h2>

    <article id="random">
        <p><b>{{ number }}</b></p>
    </article>
    
{% endblock %}